/*************************************/
/*               INPUTS              */
/*************************************/

input[type="text"] {
  outline: none;
  border: 1px solid $grey;
  color: $main-color;
  border-radius: 100px;
  padding: 10px 15px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  width: 300px;
  max-width: 100%;
  &::placeholder {
    color: darken($grey, 20%);
  }
  &:focus,
  &.focus {
    border: 2px solid $main-color;
    &::placeholder {
      color: $main-color;
    }
  }
  &:disabled,
  &.disabled {
    border: none;
    background: $grey;
    &::placeholder {
      color: lighten($main-color, 20%);
    }
  }
}
